:root {
--color00: #111c18;
--color01: #111c18;
--color02: #111c18;
--color03: #F6F5DD;
--color04: #9eebb3;
--color05: #C1C497;
--color06: #9eebb3;
--color07: #9eebb3;
--color08: #FF5345;
--color09: #459451;
--color0A: #E5C736;
--color0B: #549e6a;
--color0C: #2DD5B7;
--color0D: #509475;
--color0E: #D2689C;
--color0F: #db9f9c;
}
